*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 150px;
}

*::selection{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(13, 147, 93, 0.8);
}

/* Nav */
#header{
    background-color: rgba(38, 38, 103, 1);
    width: 100%;
    position: sticky;
    top: 0;
    margin-top: 0;
    z-index: 1000;
}

#logo{
    margin: 10px;
    width: 240px;
    max-height: 100%;
}

#nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-ul{
    display: flex;
    flex-wrap: wrap;
}

#div-puntos{
    display: none;
}

#puntos-img{
    display: flex;
    position: static;
    width: 50px;
    align-self: center;
    padding: 5px;
}

#href-con, #href-vol, #href-obj{
    display: flex;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    align-items: center;
    align-self: center;
    transition-property: background-color;
    transition-duration: 0.2s;
}

#href-con:hover, #href-vol:hover, #href-obj:hover{
    background-color: rgba(0, 0, 255, 0.5);
}

#href-con:focus, #href-vol:focus, #href-obj:focus{
    background-color: rgba(6, 6, 105, 0.5);
}

.nav-li{
    display: inline;
    padding-left: 5px;
}

.nav-li b{
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 26px;
}

#div-li-conexion{
    display: flex;
    align-content: center;
    padding: 10px;
}

#div-li-volumen{
    display: flex;
    align-content: center;
    padding: 10px;
}

#div-li-objetos{
    display: flex;
    align-content: center;
    padding: 10px;
    justify-content: space-evenly;
}

#vol-img, #obj-img, #con-img{
    width: 30px;
    padding-right: 5px;
}


/* Hamburger menu */
#ham-menu-container{
    display: none;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 94px;
    margin-top: 0;
    z-index: 500;
    width: 100%;
}

#ham-menu{
    background-color: rgba(55, 55, 150, 0.96);
    width: 100%;
    height: 172px;
}

#ham-href-con, #ham-href-vol, #ham-href-obj{
    display: flex;
    margin: 2px;
    padding: 2px 3px;
    border-radius: 20px;
    align-items: center;
    align-self: center;
    transition-property: background-color;
    transition-duration: 0.2s;
}

#ham-href-con:hover, #ham-href-vol:hover, #ham-href-obj:hover{
    background-color: rgba(0, 0, 255, 0.5);
}

#ham-href-con:focus, #ham-href-vol:focus, #ham-href-obj:focus{
    background-color: rgba(6, 6, 105, 0.5);
}

.ham-nav-li{
    display: inline;
    padding-left: 5px;
}

.ham-nav-li b{
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 22px;
}

#ham-div-li-conexion{
    display: flex;
    align-content: center;
    padding: 10px;
}

#ham-div-li-volumen{
    display: flex;
    align-content: center;
    padding: 10px;
}

#ham-div-li-objetos{
    display: flex;
    align-content: center;
    padding: 10px;
    justify-content: space-evenly;
}

#ham-vol-img, #ham-obj-img, #ham-con-img{
    width: 30px;
    padding-right: 5px;
}

.show{
    display: flex;
}

/* Conexión */
.title{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 40px;
    font-size: 50px;
}

.subtitle{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    font-size: 20px;
}

#div-form{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

select{
    display: flex;
    width: 700px;
    padding: 20px;
    border: 2px inset rgba(150, 150, 150, 1);
    border-radius: 20px;
    font-size: 20px;
    max-width: 100%;
    background-color: rgba(238, 238, 238, 1);
}

#div-buttons{
    display: flex;
    flex-wrap: wrap;
}

#btn-buscar, #btn-conectar{
    flex-wrap: wrap;
    margin: 20px;
    margin-left: 0px;
    width: 200px;
    height: 80px;
    border: 2px outset rgba(13, 13, 138, 1);
    border-radius: 20px;
    background-color: rgba(45, 45, 167, 1);
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    justify-content: center;
    align-content: center;
    transition-property: background-color;
    transition-duration: 0.2s;
}

#btn-buscar:hover, #btn-conectar:hover, #btn-menos:hover, #btn-mas:hover{
    background-color: rgba(22, 22, 116, 1);
}

#btn-buscar:focus, #btn-conectar:focus, #btn-menos:focus, #btn-mas:focus{
    background-color: rgba(8, 8, 71, 1);
}


/* Volumen */
#div-volumen{
    display: flex;
    margin: 20px;
    align-items: center;
    flex-wrap: wrap;
}

#btn-menos, #btn-mas{
    display: flex;
    width: 80px;
    height: 80px;
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(45, 45, 167, 1);
    border: 2px outset rgba(13, 13, 138, 1);
    border-radius: 20px;
    transition-property: background-color;
    transition-duration: 0.2s;
}

#btn-menos{
    justify-content: center;
    align-items: flex-end;
}

#btn-mas{
    justify-content: center;
}

#num-volumen{
    width: 400px;
    height: 80px;
    border: 2px inset rgba(150, 150, 150, 1);
    border-radius: 20px;
    margin: 0px 20px;
    font-size: 40px;
    text-align: center;
    background-color: rgba(238, 238, 238, 1);
}


/* Objetos */
#btns-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

#btns-container-2{
    display: flex;
    margin: 20px;
    width: 100%;
    border-radius: 20px;
    border: 2px outset rgba(22, 22, 116, 1);
    background-color: rgba(45, 45, 167, 1);
    align-content: center;
    padding: 10px 20px;
    justify-content: space-between;
}

#btn-container{
    display: flex;
    align-content: center;
    justify-content: center;
}

#btn-container img{
    width: 100px;
    align-self: center;
    padding-right: 20px;
}

#btn-container b{
    font-size: 40px;
    align-self: center;
    color: rgba(255, 255, 255, 1);
}

#btn-container-2{
    display: flex;
    align-content: center;
    justify-content: center;
}

#btn-container-2 input{
    align-self: center;
    display: none;
}

#new-checkbox-container{
    display: flex;
    margin: 20px;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    background-color: rgba(14, 194, 14, 1);
}

#tilde-img{
    width: 40px;
    padding: 20px;
}

#cruz-img{
    width: 40px;
    padding: 20px;
    display: none;
}

.object{
    justify-content: center;
    align-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 300px;
    background-color: rgba(14, 194, 14, 1);
    font-size: 30px;
    border: 2px outset rgba(138, 138, 138, 1);
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 0;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.object:hover{
    filter: brightness(0.5);
}

.object:focus{
    filter: brightness(0.2);
}

.object-img{
    width: 200px;
    display: block;
}


/* Footer */
#div-footer{
    display: flex;
    justify-content: space-between;
    background-color: rgba(38, 38, 103, 1);
}

#div-footer-txt{
    display: block;
    margin: 20px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}

#tic-img{
    margin: 20px;
    width: 100px;
}

@media only screen and (max-width: 950px) {

    /* Nav */
    #nav-ul{
        display: none;
    }

    #logo{
        
    }

    #div-puntos{
        display: flex;
        margin-right: 10px;
        border-radius: 20px;
        align-items: center;
        align-self: center;
        transition-property: background-color;
        transition-duration: 0.2s;
    }

    #div-puntos:hover{
        background-color: rgba(0, 0, 255, 0.5);
    }

    /* Conexion */
    #Red{
        width: 300px;
    }

    #btn-buscar, #btn-conectar{
        margin-bottom: 0;
        width: 140px;
        height: 80px;
        font-size: 26px;
    }
    

    /* Hamburger menu */
    #ham-menu-container{
        
    }

    /* Volumen */
    #num-volumen{
        width: 100px;
    }


    /* Objetos */
    #btns-container{
        width: 360px;
    }

    #btn-container img{
        width: 60px;
    }
    
    #btn-container b{
        font-size: 30px;
    }

    #img-obj{
        display: flex;
        width: 10px;
    }

    #new-checkbox-container{
        border-radius: 10px;
    }

    #tilde-img{
        width: 20px;
        padding: 10px;
    }
    
    #cruz-img{
        width: 20px;
        padding: 10px;
        display: none;
    }

    /* Footer */
    #div-footer-txt{
        
    }
}