*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

.header{
    background-color: rgba(38, 38, 103, 1);
    width: 100%;
}

.logo{
    margin: 10px;
    width: 240px;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-li{
    display: inline;
}

.div-li-volumen, .div-li-objetos{
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    transition-property: background-color;
    border-radius: 20px;
    transition-duration: 0.2s;
}

.div-li-volumen:hover, .div-li-objetos:hover{
    background-color: rgba(0, 0, 255, 0.5);
}

.nav-li a{
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 26px;
    padding: 10px;
    border-right: 10px;
}

.volumen-h1-example{
    margin: 20px;
    font-size: 50px;
}

.volumen-p-example{
    margin: 20px;
    font-size: 20px;
}

.div-full-volume-slider{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px;
}

.div-volume-slider-0, .div-volume-slider-100{
    font-size: 20px;
}

.volume-slider{
    margin: 20px;
    width: 600px;
}