*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

.header{
    background-color: rgba(38, 38, 103, 1);
    width: 100%;
}

.logo{
    margin: 10px;
    width: 240px;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-li{
    display: inline;
}

.div-li-volumen, .div-li-objetos, .div-li-conexion{
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.div-li-volumen:hover, .div-li-objetos:hover, .div-li-conexion:hover{
    background-color: rgba(0, 0, 255, 0.5);
}

.div-li-volumen:focus, .div-li-objetos:focus, .div-li-conexion:focus{
    background-color: rgba(6, 6, 105, 0.5);
}

.nav-li a{
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 26px;
    padding: 10px;
    border-right: 10px;
}

.vol-img{
    width: 30px;
}

.obj-img{
    width: 30px;
}

.con-img{
    width: 30px;
}

.title{
    margin: 20px;
    margin-top: 40px;
    font-size: 50px;
}

.subtitle{
    margin: 20px;
    font-size: 20px;
}

.div-full-volume-slider{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px;
}

.div-volume-slider-0, .div-volume-slider-100{
    font-size: 20px;
}

.volume-slider{
    margin: 20px;
    width: 600px;
}

.button-container{
    display: flex;
    margin: 20px;
    justify-content: start;
    flex-wrap: wrap;
}

.object{
    margin-right: 10px;
    margin-bottom: 10px;
    height: 300px;
    background-color: rgba(24, 204, 24, 1);
    font-size: 30px;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 0;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.object:hover{
    filter: brightness(0.5);
}

.object:focus{
    filter: brightness(0.2);
}

.object-img{
    width: 200px;
    display: block;
}

.div-footer{
    display: flex;
    justify-content: space-between;
    background-color: rgba(38, 38, 103, 1);
}

.div-footer-txt{
    display: block;
    margin: 20px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}

.tic-img{
    margin: 20px;
    width: 100px;
}